.breadcrumb {
	background-color: transparent;
	padding-bottom: 43px;
	font-size: 16px;
	line-height: 21px;
	color: $text_second-1;
	&__item {
		position: relative;
		display: inline-block;
		color: $text_second-1;
		&:not(:first-child) {
			margin-left: 20px;
		}
		&:before {
			content: "";
			position: absolute;
			left: -15px;
			top: 50%;
			height: 80%;
			width: 2px;
			background-color: $text_second-1;
			transform: rotate(24deg) translate(0, -50%);
		}
		&_first {
			&:before {
				content: none;
			}
		}
	}
}
