.social {
	&__title {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 147%;
		text-align: left;
		color: #3f4260;
		opacity: 0.51;
		margin-bottom: 7px;
	}
	&__set {
		display: flex;
		justify-content: flex-start;
	}
	&__icon-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 38px;
		height: 38px;
		border-radius: 50%;
		background-color: #3090e2;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 12px;
		}
		&:hover {
			background-color: #0c5ebe;
		}
	}
	&__icon {
		width: 25px;
		height: 25px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		&:not(:last-child) {
			margin-right: 12px;
		}
		&_insta {
			background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.238 25.09h-.24a83.988 83.988 0 01-5.35-.147c-1.562-.095-2.988-.635-4.123-1.56-1.096-.894-1.844-2.102-2.224-3.59-.33-1.296-.348-2.568-.365-3.799-.012-.882-.024-1.928-.027-2.992.003-1.068.015-2.115.027-2.997.017-1.23.035-2.503.365-3.799.38-1.488 1.128-2.696 2.224-3.59 1.135-.925 2.56-1.465 4.123-1.56A84.255 84.255 0 0113.002.91a84.598 84.598 0 015.35.147c1.562.095 2.988.635 4.123 1.56 1.096.894 1.844 2.102 2.224 3.59.33 1.296.348 2.568.365 3.799.012.882.024 1.929.027 2.992v.005c-.003 1.064-.015 2.11-.027 2.992-.017 1.23-.035 2.503-.365 3.799-.38 1.488-1.128 2.696-2.224 3.59-1.135.925-2.56 1.465-4.122 1.56a83.59 83.59 0 01-5.115.147zm-.24-1.89a82.412 82.412 0 005.24-.143c1.18-.072 2.204-.455 3.043-1.139.775-.632 1.31-1.504 1.587-2.592.275-1.08.291-2.237.306-3.357.012-.877.025-1.916.028-2.97a266.31 266.31 0 00-.028-2.969c-.015-1.12-.03-2.278-.306-3.357-.278-1.088-.812-1.96-1.587-2.592-.839-.684-1.862-1.067-3.043-1.14a82.55 82.55 0 00-5.236-.143 82.33 82.33 0 00-5.24.144c-1.18.072-2.204.455-3.043 1.139-.775.632-1.31 1.504-1.587 2.592-.275 1.08-.291 2.237-.307 3.357-.012.878-.024 1.917-.027 2.972.003 1.05.015 2.089.027 2.967.016 1.12.032 2.278.307 3.357.278 1.088.812 1.96 1.587 2.592.839.684 1.862 1.067 3.043 1.139 1.663.101 3.376.149 5.236.144zm-.045-4.297A5.91 5.91 0 017.049 13a5.91 5.91 0 015.904-5.904A5.91 5.91 0 0118.857 13a5.91 5.91 0 01-5.904 5.903zm0-9.918A4.02 4.02 0 008.938 13a4.02 4.02 0 004.015 4.014A4.02 4.02 0 0016.967 13a4.02 4.02 0 00-4.014-4.015zm6.565-3.778a1.417 1.417 0 100 2.833 1.417 1.417 0 000-2.833z' fill='%23fff'/%3E%3C/svg%3E");
		}
		&_vk {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.3 8.7c-.3-.4-.2-.7 0-1 0 0 3-4.5 3.3-6 .2-.5 0-.9-.7-.9h-2.4c-.7 0-1 .4-1.1.7 0 0-1.3 3.2-3 5.2-.6.6-.9.8-1.2.8-.1 0-.4-.2-.4-.7v-5c0-.7-.1-1-.7-1H9.3c-.4 0-.7.3-.7.6 0 .6 1 .8 1 2.5v3.7c0 .9-.1 1-.4 1-.9 0-2.9-3.2-4-6.8-.3-.7-.6-1-1.2-1H1.5c-.7 0-.8.4-.8.7 0 .7.8 4 3.9 8.5 2 3 4.9 4.6 7.5 4.6 1.5 0 1.7-.3 1.7-1 0-2.8-.1-3.1.7-3.1.3 0 1 .2 2.4 1.6 1.7 1.8 2 2.5 2.9 2.5h2.4c.7 0 1.1-.3.9-1-.5-1.5-3.6-4.7-3.8-4.9z' fill='%23fff'/%3E%3C/svg%3E");
		}
		&_fb {
			background-image: url("data:image/svg+xml,%3Csvg width='11' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.88 4.36h1.89V.8C10.44.75 9.32.64 8 .64c-2.73 0-4.6 1.86-4.6 5.27v3.15h-3v3.99h3v10.04h3.7V13.05h2.88l.46-4H7.1V6.32c0-1.16.3-1.95 1.78-1.95z' fill='%23fff'/%3E%3C/svg%3E");
		}
	}
}
