.article-page {
	&__header {
		margin-bottom: 44px;
		@include media(xs) {
			margin-bottom: 25px;
		}
	}
	&__article {
		margin-bottom: 80px;
		@include media(sm) {
			margin-bottom: 72px;
		}
		@include media(xs) {
			margin-bottom: 60px;
			padding: 0;
		}
	}
	&__photo {
		margin-bottom: 68px;
		@include media(sm) {
			margin-bottom: 60px;
		}
		@include media(xs) {
			margin-bottom: 50px;
		}
	}
}

.article-photo {
	height: 400px;
	@include media(xs) {
		height: 200px;
	}
	&__img {
		object-fit: cover;
		border-radius: 20px;
		width: 100%;
		height: 100%;
	}
}
.article-article {
	background: #ffffff;
	box-shadow: 0 22px 41px rgba(23, 112, 217, 0.24);
	border-radius: 17px;
	padding: 78px 170px;
	@include media(sm) {
		padding: 78px 31px;
	}
	@include media(xs) {
		padding: 43px 18px 75px;
		box-shadow: none;
		border-radius: 0;
	}
	&__header {
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(63, 65, 96, 0.4);
		margin-bottom: 41px;
		font-family: "RoundsBlack", sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 25px;
		line-height: 38px;
		text-align: center;
		letter-spacing: 0.02em;
		color: $text_main;
		@include media(sm) {
			font-size: 20px;
		}
		@include media(xs) {
			text-align: left;
		}
		& mark {
			color: #e95498;
			background-color: transparent;
		}
	}
	&__paragraph {
		padding: 0 30px;
		@include media(xs) {
			padding: 0;
		}
	}
	&__paragraph-header {
		margin-bottom: 10px;
		font-family: "RoundsBlack", sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 25px;
		line-height: 38px;
		letter-spacing: 0.02em;
		color: $text_main;
		text-shadow: 0 6px 41px rgba(23, 112, 217, 0.24);
	}
	&__paragraph-text {
		padding-bottom: 2em;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 32px;
		letter-spacing: 0.02em;
		color: $text_main;
		@include media(xs) {
			font-size: 13px;
			line-height: 26px;
		}
	}
}
.article-slider {
	&__heading {
		margin-bottom: 52px;
		@include media(sm) {
			margin-bottom: 43px;
		}
		@include media(xs) {
			margin-bottom: 0;
		}
	}
	& .swiper-container {
		height: 100%;
		padding-bottom: 131px;
		//margin-right: -15px;
		//margin-left: -15px;
		@include media(sm) {
			padding-bottom: 140px;
			overflow: visible;
		}
		@include media(xs) {
			padding-bottom: 149px;
		}
	}
	& .swiper-pagination {
		line-height: 0;
		bottom: 80px;
		//@include media(sm) {
		@media (max-width: 1400px) {
			bottom: 75px;
		}
		@include media(xs) {
			bottom: 87px;
		}
		.swiper-pagination-bullet {
			height: 11px;
			width: 11px;
			background-color: #fff;
			margin: 0 4px;
			opacity: 0.4;
			//@include  media(sm) {
			@media (max-width: 1400px) {
				height: 9px;
				width: 9px;
			}
			&-active {
				opacity: 1;
			}
		}
	}
	& .swiper-button-next, & .swiper-button-prev {
		top: calc(50% - 56px / 2);
		border-radius: 50%;
		background-color: #fff;
		opacity: 1;
		margin: 0;
		width: 56px;
		height: 56px;
		&:after {
			content: "";
			display: block;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 15px;
			height: 25px;
			//@include media(sm) {
			@media (max-width: 1400px) {
				width: 11px;
				height: 18px;
			}
			@include media(xs) {
				width: 15px;
				height: 25px;
			}
		}
		//@include media(sm) {
		@media (max-width: 1400px) {
			top: auto;
			bottom: 60px;
			width: 40px;
			height: 40px;
		}
		@include media(xs) {
			width: 56px;
			height: 56px;
			bottom: 63px;
		}

	}
	.swiper-button-prev {
		left: -24px + 15px;
		transform: translate(-100%, 0);
		&:after {
			content: "";
			background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8 2.2L2.2 12.8l10.6 10.6' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			@include media(xs) {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8 2.2L2.2 12.8l10.6 10.6' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			}
		}
		//@include media(sm) {
		@media (max-width: 1400px) {
			left: calc(50% - 47px);
			transform: translate(-100%, 0);
		}
		@include media(xs) {
			left: 15px;
			transform: none;
		}
	}
	.swiper-button-next {
		right: -24px + 15px;
		transform: translate(100%, 0);
		&:after {
			background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2l11 11L2 23' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			@include media(xs) {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.2 2.2l10.6 10.6L2.2 23.4' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			}
		}
		//@include media(sm) {
		@media (max-width: 1400px) {
			right: calc(50% - 47px);
			transform: translate(100%, 0);
		}
		@include media(xs) {
			right: 15px;
			left: auto;
			transform: none;
		}
	}
	&__more {
		@include media(xs) {
			display: none;
		}
	}
	&__slider {
		display: flex;
		margin-bottom: 0 !important;
		//left: 15px;
	}
	&__slide {
		border-radius: 17px;
		box-shadow: 0 22px 23px -4px rgba(23, 112, 217, 0.24);
		height: auto;
		@include media(sm) {
			margin-bottom: 0;
		}
	}
	&_slide-img-wrap {
		height: 261px;
		@include media(xs) {
			height: 171px;
		}
	}
	&_slide-img {
		border-radius: 17px 17px 0 0;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
	&__slide-text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: $bg1;
		padding: 19px 22px 22px;
		border-radius: 0 0 17px 17px;
		height: 254px;
		overflow: hidden;
		@include media(xs) {
			height: 289px;
			padding: 28px 17px 18px;
		}
	}
	&__slide-header {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 23px;
		line-height: 27px;
		letter-spacing: -0.005em;
		color: $text_second-2;
		margin-top: 0;
		margin-bottom: 6px;
		@include media(xs) {
			margin-bottom: 11px;
			font-size: 20px;
			line-height: 23px;
			letter-spacing: -0.005em;
		}
	}
	&__slide-date {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 147.69%;
		letter-spacing: 0.02em;
		color: $text_main;
		opacity: 0.5;
		margin-top: 0;
		margin-bottom: 7px;
		@include media(xs) {
			margin-bottom: 18px;
		}
	}
	&__slide-article-preview {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 147.69%;
		letter-spacing: 0.02em;
		color: $text_main;
		margin-top: 0;
		margin-bottom: 0;
		max-height: 69px;
		overflow: hidden;
	}
	&__slide-link {
		text-decoration: underline;
	}
}
