.catalog-page {
	padding-bottom: 144px;
	@include media(sm) {
		padding-bottom: 69px;
	}
	@include media(xs) {
		padding-bottom: 0;
	}
	&__products {
		margin-bottom: 100px;
		@include media(sm) {
			margin-bottom: 0;
			padding-bottom: 125px;
		}
	}
	&__table {
		margin-bottom: 100px;
		@include media(sm) {
			margin-bottom: 91px;
		}
		@include media(xs) {
			margin-bottom: 56px;
		}
	}
}

.catalog-heading {
	margin-bottom: 49px;
	&__header {
		@include media(sm) {
			margin-bottom: 27px;
		}
		@include media(xs) {
			margin-bottom: 16px;
		}
	}
	&__title-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 75px;
		@include media(sm) {
			margin-bottom: 59px;
		}
		@include media(xs) {
			margin-bottom: 45px;
		}
	}
	&__title-col {
		@include b4col(43%);
		@include media(sm) {
			@include b4col(100%);
			margin-bottom: 12px;
		}
		@include media(xs) {
			margin-bottom: 79px;
		}
	}
	&__slogan {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 139.69%;
		color: $text-main;
		max-width: 515px;
		margin-bottom: 27px;
	}
	&__img-wrap {
		display: flex;
		justify-content: center;
		@include b4col(100% - 43%);
		@include media(sm) {
			@include b4col(100%);
		}
	}
	&__img {
		width: 603px;
		height: 100%; // Для Safari
		@include media(sm) {
			width: 100%;
			height: 100%;
		}
	}
	&__filters {
		display: flex;
		flex-wrap: wrap;
	}
	&__select {
		outline: none;
		@include b4col(_col(3));
		box-shadow: 0 21px 18px -7px rgba(21, 113, 168, 0.13);
		&:not(:last-child) {
			margin-right: 30px;
			@include media(sm) {
				margin-right: 11px;
				margin-bottom: 10px;
			}
			@include media(xs) {
				margin-right: 0;
			}
		}
		@include media(sm) {
			flex-grow: 1;
			max-width: 100%;
		}
		@include media(xs) {
			@include b4col(_col(12));
		}
	}
}
.catalog-products {
	position: relative;
	@include media(xs) {
		padding-top: 74px;
	}
	&__custom-buttons {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		padding: 0 15px;
		justify-content: center;
		@include media(sm) {
			display: flex;
		}
		@include media(xs) {
			justify-content: space-between;
		}
		&_top {
			display: none;
			@include media(xs) {
				display: flex;
				top: 0;
			}
		}
		&_bottom {
			@include media(sm) {
				bottom: 63px;
			}
			@include media(xs) {
				bottom: 50px;
			}
		}
	}
	&__custom-button {
		position: relative;
		border-radius: 50%;
		background-color: #ffffff;
		width: 56px;
		height: 56px;
		border: none;
		font-size: 0;
		z-index: 1;
		@include media(sm) {
			width: 40px;
			height: 40px;
		}
		@include media(xs) {
			width: 56px;
			height: 56px;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 11px;
			height: 21px;
			@include media(xs) {
				width: 15px;
				height: 25px;
			}
		}
		&_prev {
			margin-right: 158px;
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 2L2 13l11 10' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			}
		}
		&_next {
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2l11 11L2 23' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			}
		}
	}
	&__custom-dots {
		position: absolute;
		left: 0;
		right: 0;
		.slick-dots {
			@include media(sm) {
				bottom: -9px/2 - 40px/2;
			}
			@include media(xs) {
				bottom: -9px/2 - 56px/2;
			}
		}
	}
	&__slider {
		margin-bottom: 0 !important;
		.slick-prev, .slick-next {
			&:before {
				@include media(xs) {
					width: 15px;
					height: 25px;
				}
			}
			@include media(sm) {
				z-index: 1;
				background-color: #ffffff;
				width: 40px;
				height: 40px;
				top: auto;
				bottom: -40px - 38px - 9px / 2;
			}
			@include media(xs) {
				width: 56px;
				height: 56px;
				bottom: -56px - 42px - 9px / 2;
			}
		}
		.slick-prev {
			@include media(sm) {
				left: calc(50% - 40px - 80px);
			}
			@include media(xs) {
				left: 0;
			}
		}
		.slick-next {
			@include media(sm) {
				right: calc(50% - 40px - 80px);
			}
			@include media(xs) {
				right: 0;
			}
		}
		.slick-dots {
			z-index: 0;
			@include media(sm) {
				bottom: -9px - 38px;
			}
			@include media(xs) {
				bottom: -9px - 42px;
			}
		}
	}
	&__slide {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(4, auto);
		grid-column-gap: 30px;
		grid-template-areas: "img img img img head head head head head stars stars stars"
			"img img img img ss    ss    ss    ss    ss    ss   ss   ss"
			"img img img img sizes sizes sizes sizes sizes more more more"
			"img img img img note  note  note  note  note  more more more";
		padding-top: 51px;
		padding-bottom: 20px;
		outline: none;
		&:not(:last-child) {
			margin-bottom: 34px;
			@include media(sm) {
				margin-bottom: 0;
			}
		}
		@include media(sm) {
			padding-top: 42px;
			padding-bottom: 40px;
			grid-template-rows: repeat(5, auto);
			grid-column-gap: 26px;
			grid-template-areas: "img img img img img head head head head head head head"
				"img   img   img   img   img   ss   ss   ss   ss   ss   ss   ss"
				"stars stars stars stars stars ss   ss   ss   ss   ss   ss   ss"
				"sizes sizes sizes sizes sizes note note note note note note note"
				"sizes sizes sizes sizes sizes more more more more more more more";
		}
		@include media(xs) {
			display: block;
			padding-top: 53px;
			padding-bottom: 20px;
		}
		&.slick-slide {
			display: grid;
			@include media(xs) {
				display: block;
			}
		}
	}
	&__img-wrap {
		grid-area: img;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
		@include media(sm) {
			padding-top: 35px;
			padding-bottom: 26px;
		}
		@include media(xs) {
			padding-top: 0;
			padding-bottom: 40px;
			padding-right: 8px;
			padding-left: 8px;
		}
	}
	&__sticker {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 35px;
		right: 40px;
		height: 102px;
		width: 102px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("data:image/svg+xml,%3Csvg width='100' height='102' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50 0l9 11 13-6 4 14h14l-3 14 13 7-9 11 9 11-13 7 3 14H76l-4 14-13-6-9 11-9-11-13 6-4-14H10l3-14-13-7 9-11-9-11 13-7-3-14h14l4-14 13 6 9-11z' fill='%233CE84D'/%3E%3C/svg%3E");
		@include media(sm) {
			right: 50%;
			transform: translate(140%, 0);
		}
	}
	&__sticker-text {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 15.4314px;
		line-height: 113.5%;
		letter-spacing: -0.005em;
		color: $text_main-light;
		text-align: center;
	}
	&__header {
		grid-area: head;
		padding-bottom: 37px;
		@include media(sm) {
			padding-bottom: 25px;
		}
	}
	&__stars {
		grid-area: stars;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		padding-right: 50px;
		@include media(sm) {
			align-items: flex-start;
			padding-right: 0;
			padding-bottom: 40px;
		}
		@include media(sm) {
			padding-bottom: 12px;
		}
	}
	&__subslider-wrap {
		grid-area: ss;
		padding-bottom: 10px;
		min-height: 135px;
		@include media(sm) {
			padding-bottom: 29px;
		}
		@include media(xs) {
			padding-bottom: 53px;
		}
	}
	&__sizes {
		grid-area: sizes;
		padding-bottom: 22px;
		width: 100%;
		@include media(sm) {
			padding-bottom: 0;
		}
		@include media(xs) {
			padding-bottom: 28px;
		}
	}
	&__note {
		grid-area: note;
		display: flex;
		flex-direction: column;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 141.19%;
		color: $text_main;
		@include media(sm) {
			padding-bottom: 27px;
		}
	}
	&__more {
		grid-area: more;
		display: flex;
		justify-content: flex-end;
		padding-right: 50px;
		@include media(sm) {
			justify-content: flex-start;
			align-items: flex-end;
			padding-right: 0;
		}
	}

	&__img {
		object-fit: contain;
		height: 100%;
		width: 100%;
		max-width: 324px;
		max-height: 360px;
	}
	&__title {
		margin-bottom: 10px
	}
	&__subtitle {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 113.5%;
		letter-spacing: -0.005em;
		color: $text_main;
		@include media(xs) {
			font-size: 16px;
		}
	}
	&__stars-set {
		display: flex;
	}
	&__stars-count {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		&_orange {
			color: #ff9736;
		}
		&_green {
			color: #2dc27c;
		}
		&_violet {
			color: #ba78ed;
		}
	}
	&__stars-review {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 147.69%;
		color: #3c428a;
		border-bottom: 1px solid rgba(60, 66, 138, 0.2);
	}
	&__subslider {
		display: flex;
		align-items: flex-start;
		padding-right: 17px;
		@include media(sm) {
			flex-direction: column;
			padding-right: 0;
		}
		@include media(xs) {
			display: block;
			margin-bottom: 0 !important;
			.slick-dots {
				bottom: -9px - 22px;
				li {
					button {
						&:before {
							background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.5' cy='4.5' r='4.5' fill='%23009FE3'/%3E%3C/svg%3E");
						}
					}
				}
			}
		}
	}
	&__subslide {
		display: flex;
		align-items: flex-start;
		padding-right: 12px;
		width: _col(4);
		@include media(sm) {
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 7px;
			}
		}
		@include media(xs) {
			&.slick-slide {
				display: flex;
			}
		}
	}
	&__subslide-img {
		width: 70px;
		height: 70px;
		margin-right: 9px;
	}
	&__subslide-text {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 141.19%;
		color: $text_main;
	}
	&__sizes-title {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 210.19%;
		letter-spacing: 0.02em;
		color: $text_main;
		opacity: 0.5;
		margin-bottom: 20px;
		@include media(sm) {
			line-height: 139.69%;
			margin-bottom: 42px;
		}
		@include media(xs) {
			line-height: 118.19%;
			margin-bottom: 20px;
		}
	}
	&__note-main {
		@include media(xs) {
			padding-bottom: 5px;
		}
	}
	&__note-second {
		line-height: 210.19%;
		letter-spacing: 0.02em;
		opacity: 0.5;
		@include media(xs) {
			line-height: 112.19%;
		}
	}
}
.catalog-table {
	&__heading {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 64px;
		@include media(sm) {
			margin-bottom: 30px;
		}
		@include media(xs) {
			margin-bottom: 54px;
		}
	}
	&__header {
		@include b4col(_col(7));
		@include media(sm) {
			@include b4col(_col(12));
			margin-bottom: 43px;
		}
		@include media(xs) {
			margin-bottom: 24px;
		}
	}
	&__note {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		line-height: 178%;
		color: $text_main;
		@include b4col(_col(5));
		@include media(sm) {
			@include b4col(_col(12));
		}
		@include media(xs) {
			font-size: 15px;
			line-height: 135.19%;
		}
	}
	&__swipe-text {
		display: none;
		//max-width: 242px;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 135.19%;
		color: #2b96c7;
		@include media(sm) {
			display: block;
		}
	}
}
.table-size {
	$first-col-width: 40px;
	$row-header-width: 360px;
	$row-height: 97px;
	background-color: transparent;
	border-radius: 17px;
	min-height: 626px;
	//padding-top: 38px;
	@include media(sm) {
		margin-right: -15px;
		border-radius: 17px 0 0 17px;
	}
	&__inner {
		min-width: 1170px;
		background-color: transparent;
		border-radius: 17px;
		padding-top: 38px;
	}
	&__header {
		display: flex;
		height: 44px;
		background: #ecf7ff;
		border-radius: 17px 17px 0 0;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 17px;
		line-height: 113.5%;
		letter-spacing: -0.005em;
		color: $text_main;
	}
	&__header-first-cell {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: $first-col-width + $row-header-width;
		border-right: 1px solid #ecf7ff;
		padding-left: 75px;
	}
	&__header-cell {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}
	&__body {
		display: flex;
		background-color: $bg1;
		border-radius: 0 0 17px 17px;
	}
	&__first-col {
		width: $first-col-width;
	}
	&__first-col-cell {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 12px;
		line-height: 101.5%;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 0.02em;
		color: #01b0ef;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		width: 100%;
		&:not(:last-child) {
			border-top: 1px solid #ecf7ff;
		}
		&_1 {
			height: $row-height * 2;
		}
		&_2 {
			height: $row-height * 4;
		}
	}
	&__main-content {
		flex-grow: 1;
		border-left: 1px solid #ecf7ff;
		border-radius: 0 0 17px 17px;
		background-image: url("../img/p-catalog/bg.svg");
		background-size: (730px auto);
		background-repeat: no-repeat;
		background-position: top right;
	}
	&__row {
		display: flex;
		height: $row-height;
		&:not(:last-child) {
			border-bottom: 1px solid #ecf7ff;
		}
		a {
			text-decoration: none;
			&:hover {
				text-decoration: none;
			}
		}
	}
	&__row-header {
		display: flex;
		width: $row-header-width;
		height: 100%;
	}
	&__img-wrap {
		width: 98px;
		height: 100%;
		padding: 5px 15px;
	}
	&__img {
		object-fit: contain;
		height: 100%;
		width: 100%;
	}
	&__row-title-wrap {
		padding: 31px 5px 10px 0;
	}
	&__row-title {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 17px;
		line-height: 113.5%;
		letter-spacing: -0.005em;
		text-transform: uppercase;
		&_violet {
			color: #ba78ed;
		}
		&_orange {
			color: #ff9736;
		}
		&_green {
			color: #2dc37b;
		}
	}
	&__row-subtitle {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 17px;
		color: $text_main;
	}
	&__row-cell {
		position: relative;
		flex-grow: 1;
		&:not(:last-child) {
			border-right: 1px solid #ecf7ff;
		}
	}
	&__badge {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 101px;
		height: 24.57px;
		border-radius: 15px;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 15px;
		line-height: 140%;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: $text_main-light;
		z-index: 1;
		&_bg_violet {
			background: #ba78ed;
		}
		&_bg_orange {
			background: #ff9736;
		}
		&_bg_green {
			background: #2dc37b;
		}
		&_vertical_top {
			top: 6px;
		}
		&_vertical_center {
			top: 50%;
			transform: translateY(-50%);
		}
		&_vertical_bottom {
			bottom: 6px;
		}
		&_horizont_left {
			left: 0;
		}
		&_horizont_center {
			left: 50%;
			transform: translateX(-50%);
		}
		&_horizont_right {
			right: 0;
		}
		&_horizont_left8 {
			left: 8px;
		}
		&_horizont_left-8 {
			left: -8px;
		}
		&_horizont_left-40 {
			left: -40px;
		}
		&_position_center {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		&_width_116 {
			width: 116px;
		}
		&_width_158 {
			width: 158px;
		}
		&_width_161 {
			width: 161px;
		}
		&_width_174 {
			width: 174px;
		}
		&_width_181 {
			width: 181px;
		}
		&_width_228 {
			width: 228px;
		}
	}

	& .mCSB_scrollTools {
		opacity: 1;
		&.mCSB_scrollTools_horizontal {
			top: 5px;
			bottom: auto;
			& .mCSB_draggerContainer {
				right: 15px;
				& .mCSB_dragger {

					& .mCSB_dragger_bar {
						background-color: #ffffff;
						margin: 7px 0;
						height: 4px;
						&:hover {
							background-color: #ffffff;
							opacity: 1;
						}
					}
				}
				& .mCSB_draggerRail {
					height: 4px;
					background: #4bc1f7;
				}
			}
		}
	}
}
.catalog-how-right {
	padding-bottom: 100px;
	@include media(sm) {
		padding-bottom: 148px;
	}
	@include media(xs) {
		padding-bottom: 130px;
	}
	&__heading {
		margin-bottom: 42px - 70px;
		//max-width: 600px;
		@include media(sm) {
			margin-bottom: 38px - 66px;
		}
		@include media(xs) {
			margin-bottom: 35px - 24px;
		}
	}
	&__slider {
		display: flex;
		flex-direction: column;
		margin-bottom: 0 !important;
		margin-left: -15px;
		margin-right: -15px;
		.slick-arrow {
			background-color: $bg1;
			@include media(sm) {
				width: 40px;
				height: 40px;
			}
			@include media(xs) {
				width: 56px;
				height: 56px;
			}

		}
		.slick-prev, .slick-next {
			&:before {
				@include media(xs) {
					width: 15px;
					height: 25px;
				}
			}
			@include media(sm) {
				top: auto;
				bottom: -46 - 40px/2 - 9px/2;
				transform: none;
			}
			@include media(xs) {
				top: auto;
				bottom: -42 - 56px/2 - 9px/2;
			}
		}
		.slick-prev {
			left: 15px - 56px - 25px;
			@include media(sm) {
				left: 50%;
				transform: translate(-58px - 40px, 0);
			}
			@include media(xs) {
				left: 0;
				transform: translate(18px, 0);
			}
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 2L2 13l11 10' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			}
		}
		.slick-next {
			right: 15px - 56px - 25px;
			@include media(sm) {
				left: 50%;
				right: auto;
				transform: translate(58px, 0);
			}
			@include media(xs) {
				right: 0;
				left: auto;
				transform: translate(-18px, 0);
			}
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2l11 11L2 23' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			}
		}
		.slick-dots {
			z-index: -1;
			bottom: -30px - 9px;
			@include media(sm) {
				bottom: -46px - 9px;
			}
			@include media(xs) {
				bottom: -42px - 9px;
			}
		}
	}
	&__slide {
		border-radius: 14px;
		padding-top: 70px;
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 0;
		outline: none;
		//@include b4col(_col(6));
		@include media(sm) {
			padding-top: 66px;
		}
		@include media(xs) {
			padding-top: 24px;
		}
	}
	&__slide-inner {
		position: relative;
		border-radius: 14px;
		padding: 41px 33px 25px;
		background-color: rgba(255, 255, 255, 0.28);
		@include media(sm) {
			padding: 42px 31px 34px;
		}
		@include media(xs) {
			padding: 18px 13px;
		}
	}
	&__slide-img-wrap {
		width: 140px;
		@include media(sm) {
			width: auto;
		}
	}
	&__slide-img {
		height: 210px;
		margin-left: -20px;
		@include media(sm) {
			position: absolute;
			top: -70px;
			right: -15px;
		}
		@include media(xs) {
			top: -26px;
			height: 105px;
			right: -12px;
		}
		&_2 {
			height: 168px;
			margin-left: 16px;
			@include media(xs) {
				height: 105px;
			}
		}
	}
	&__slide-header {
		font-family: "RoundsBlack", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 29px;
		line-height: 105%;
		letter-spacing: 0.02em;
		color: $text_main-light;
		text-shadow: 0 3.48px 23.7851px rgba(23, 112, 217, 0.24);
		margin-bottom: 29px;
		@include media(xs) {
			margin-bottom: 20px;
			font-size: 22px;
		}
	}
	&__slide-list {
		display: flex;
		justify-content: space-between;
		@include media(sm) {
			flex-direction: column;
		}
	}
	&__slide-item {
		position: relative;
		width: 148px;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 143.5%;
		color: $text_main;
		&:not(:last-child) {
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: -15px;
				transform: translate(100%, -50%);
				width: 13px;
				height: 19px;
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				background-image: url("data:image/svg+xml,%3Csvg width='13' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 19V0l13 10-13 9z' fill='%23fff'/%3E%3C/svg%3E");
				@include media(sm) {
					content: none;
				}
			}
		}
		@include media(sm) {
			display: flex;
			width: 100%;
			&:not(:last-child) {
				margin-bottom: 7px;
			}
		}
		@include media(xs) {
			align-items: flex-start;
			font-size: 14px;
			line-height: 178%;
		}
	}
	&__slide-item-corner {
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 3px;
		width: 30px;
		height: 28px;
		background: #3090e2;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 18px;
		line-height: 149%;
		color: #ffffff;
		border-radius: 10px 0;
		@include media(xs) {
			left: 2px;
			width: 20px;
			height: 19px;
			font-size: 11.979px;
			line-height: 149%;
			border-radius: 7px 0;
		}
	}
	&__slide-item-img {
		object-fit: contain;
		width: 148px;
		border-radius: 10px;
		@include media(sm) {
			margin-right: 23px;
		}
		@include media(xs) {
			width: 95px;
			margin-right: 19px;
		}
	}
	&__slide-item-text {
		@include media(sm) {
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 313px;
		}
	}
}
.catalog-faq {
	$p: &;
	padding-bottom: 57px;
	//@include media(lg) {
	@media (max-width: 1400px) {
		padding-bottom: 111px;
	}
	@include media(xs) {
		padding-bottom: 121px;
	}
	&__heading {
		margin-bottom: 42px;
		max-width: 600px;
		@include media(sm) {
			margin-bottom: 38px;
		}
		@include media(sm) {
			margin-bottom: 35px;
		}
	}
	&__slider {
		margin-bottom: 0 !important;
		margin-left: -15px;
		margin-right: -15px;
		//Слайдер для дестктопа и планшета
		&_1rows {
			@include media(xs) {
				display: none;
			}
		}
		//Слайдер для мобильной версии
		&_2rows {
			display: none;
			@include media(xs) {
				display: block;
			}
		}
		.slick-slide {
			height: auto;
		}
		.slick-arrow {
			background-color: $bg1;
			//@include media(lg) {
			@media (max-width: 1400px) {
				width: 40px;
				height: 40px;
			}
			@include media(xs) {
				width: 56px;
				height: 56px;
			}
		}
		.slick-prev, .slick-next {
			&:before {
				@include media(xs) {
					width: 15px;
					height: 25px;
				}
			}
			//@include media(lg) {
			@media (max-width: 1400px) {
				top: auto;
				bottom: -46 - 40px/2 - 9px/2;
				transform: none;
			}
			@include media(xs) {
				top: auto;
				bottom: -42 - 56px/2 - 9px/2 + 19px;
			}
		}
		.slick-prev {
			left: 15px - 56px - 25px;
			//@include media(lg) {
			@media (max-width: 1400px) {
				left: 50%;
				transform: translate(-160px - 40px, 0);
			}
			@include media(xs) {
				left: 0;
				transform: translate(18px, 0);
			}
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 2L2 13l11 10' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			}
		}
		.slick-next {
			right: 15px - 56px - 25px;
			//@include media(lg) {
			@media (max-width: 1400px) {
				left: 50%;
				right: auto;
				transform: translate(160px, 0);
			}
			@include media(xs) {
				right: 0;
				left: auto;
				transform: translate(-18px, 0);
			}
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2l11 11L2 23' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			}
		}
		.slick-dots {
			z-index: -1;
			bottom: -30px - 9px;
			//@include media(lg) {
			@media (max-width: 1400px) {
				bottom: -46px - 9px;
			}
			@include media(xs) {
				bottom: -42px - 9px + 19px;
			}
		}
	}
	&__slide {
		display: block;
		border-radius: 14px;
		height: 390px;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 0;
		background-color: rgba(255, 255, 255, 0.28);
		background-image: url("data:image/svg+xml,%3Csvg width='370' height='391' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='a' maskUnits='userSpaceOnUse' x='0' y='0' width='370' height='391'%3E%3Crect y='.9' width='370' height='390' rx='14' fill='%23C4C4C4'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Crect y='.9' width='370' height='390' rx='14' fill='%23fff' fill-opacity='.3'/%3E%3Ccircle cx='-61' cy='451.9' r='207' fill='%23B5E8FF'/%3E%3Ccircle cx='432' cy='23.9' r='117' fill='%23B5E8FF'/%3E%3Cpath opacity='.5' d='M162 197v-24-3l1-3 2-2 3-1 3-2a50 50 0 017-2l4-1c6-1 11-3 14-6 4-3 6-8 6-15 0-5-2-9-7-13-4-4-8-5-14-5-5 0-9 1-13 4-4 2-7 5-9 8l-8 8c-3 3-6 4-10 4s-8-1-11-5c-3-3-4-7-4-13 0-8 3-15 9-22a68 68 0 0146-19c17 0 31 5 42 15 12 10 17 22 17 38 0 14-3 24-11 33-8 8-18 14-32 17v9c0 5-1 10-5 13-3 3-7 5-12 5-6 0-10-2-14-5-3-3-4-7-4-13zm31 65c-4 4-8 6-13 6-6 0-10-2-14-6s-6-8-6-13c0-6 2-10 6-14s8-6 14-6c5 0 9 2 13 6s6 8 6 14c0 5-2 9-6 13z' fill='%23fff'/%3E%3Crect x='.5' y='1.4' width='369' height='389' rx='13.5' stroke='%23fff' stroke-opacity='.3'/%3E%3C/g%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		outline: none;
		cursor: pointer;
		perspective: 5000px;
		@include media(sm) {
			height: 370px;
		}
		@include media(xs) {
			height: 280px;
			margin-bottom: 19px;
		}
	}
	&__slide-inner {
		position: relative;
		transition: 0.6s;
		transform-style: preserve-3d;
		height: 100%;
	}
	&__slide-checkbox {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
	}
	&__question {
		position: relative;
		top: 50%;
		backface-visibility: hidden;
		z-index: 2;
		transform: rotateY(0deg) translate(0, -50%); //for firefox 31
		p {
			font-family: "RotondaC", sans-serif;
			font-style: normal;
			font-weight: 700;
			font-size: 20px;
			line-height: 23px;
			text-align: center;
			letter-spacing: -0.005em;
			color: $text_main;
			margin-bottom: 0;
			padding: 25px;
		}
	}
	&__answer {
		position: absolute;
		top: 0;
		left: 0;
		background-color: $bg1;
		height: 100%;
		border-radius: 14px;
		padding: 25px 0;
		transform: rotateY(180deg);
		backface-visibility: hidden;
	}
	&__answer-text {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 147.69%;
		letter-spacing: 0.02em;
		color: $text_main;
		padding: 0 25px;
		margin-bottom: 0;
		height: 100%;
		overflow: auto;
		border-radius: 14px;
		// Скроллбар для Firefox
		scrollbar-width: thin;
		scrollbar-color: #39acff #ffffff;
		// Скроллбар для остальных браузеров
		&::-webkit-scrollbar {
			width: 6px;
			background-color: #ffffff;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 19px;
			background: #39acff;
		}
	}
	&__slide-checkbox:checked ~ &__slide-inner {
		transform: rotateY(180deg);
	}
}

