.home-page {
	&__banner {
		margin-bottom: 80px;
		@include media(sm) {
			margin-bottom: 50px;
		}
		@include media(xs) {
			margin-bottom: 43px;
		}
	}
	&__quest {
		margin-bottom: 80px;
		@include media(sm) {
			margin-bottom: 85px;
		}
		@include media(xs) {
			margin-bottom: 50px;
		}
	}
	&__catalog {
		margin-bottom: 104px;
		@include media(sm) {
			margin-bottom: 88px;
		}
		@include media(xs) {
			margin-bottom: 50px;
		}
	}
	&__where-buy {
		@include media(xs) {
			padding-top: 43px;
		}
	}
	&__reviews {
		margin-bottom: 106px;
		@include media(xs) {
			margin-bottom: 46px;
		}
	}
	&__articles {
		padding-bottom: 62px;
		background: url("../img/p-home/pattern.svg") center no-repeat, #5bc9f9;
		background-size: cover;
		@include media(sm) {
			background: #5bc9f9;
		}
		@include media(xs) {
			padding-bottom: 0;
		}
	}
}

.home-banner {
	$p: &;
	&__slider {
		border-radius: 17px;
		box-shadow: 0 22px 41px rgba(23, 112, 217, 0.24);
		margin-bottom: 0 !important;
		@include media(sm) {
			box-shadow: none;
		}
		@include media(xs) {
			padding-bottom: 89px;
		}
		.slick-prev, .slick-next {
			background-color: $bg1;
			z-index: 1;
			box-shadow: 0 6px 10px rgba(138, 142, 198, 0.27);
			//@include media(sm) {
			@media (max-width: 1400px) {
				top: auto;
				bottom: 31px + 9px /2;
				transform: translate(0, 50%);
				width: 40px;
				height: 40px;
			}
			@include media(xs) {
				width: 56px;
				height: 56px;
				bottom: 0;
				transform: translate(0, 0);
			}
		}
		.slick-prev {
			left: -28px;
			//@include media(sm) {
			@media (max-width: 1400px) {
				left: calc(50% - 100px - 56px);
			}
			@include media(xs) {
				left: 0;
			}
		}
		.slick-next {
			right: -28px;
			//@include media(sm) {
			@media (max-width: 1400px) {
				right: calc(50% - 100px - 56px);
			}
			@include media(xs) {
				right: 0;
			}
		}
		.slick-dots {
			bottom: 27px;
			z-index: 0;
			//@include media(sm) {
			@media (max-width: 1400px) {
				bottom: 31px;
			}
			@include media(xs) {
				flex-wrap: wrap;
				width: 140px;
				left: 50%;
				transform: translate(-50%, 0);
				bottom: 24px;
				li {
					button:before {
						background-image: none;
						background-color: #ffffff;
						border-radius: 50%;
					}
				}
			}
		}
	}
	&__slide {
		position: relative;
		object-fit: cover;
	}
	&__slide-title-wrap {
		position: absolute;
		top: 125px;
		left: 83px;
		@include media(sm) {
			top: 69px;
			left: 43px;
		}
		@include media(xs) {
			top: 45px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 249px;
		}
	}
	&__slide-logo {
		width: 138px;
		@include media(sm) {
			width: 125px;
		}
		@include media(xs) {
			position: absolute;
			top: -22px;
			width: 99px;
		}
	}
	&__slide-title {
		max-width: 608px;
		font-family: "RoundsBlack", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 41px;
		line-height: 105%;
		letter-spacing: 0.02em;
		color: #0c5ebe;
		@include media(sm) {
			max-width: 519px;
			font-size: 35px;
		}
		@include media(xs) {
			font-size: 24px;
			line-height: 150.5%;
			text-align: right;
		}
	}
	img {
		&#{$p}__img {
			width: 100%;
			height: 100%;
			border-radius: 17px;
			@include media(sm) {
				border-radius: 26px;
			}
			&_desk {
				@include media(sm) {
					display: none;
				}
			}
			&_tab {
				display: none;
				@include media(sm) {
					display: block;
				}
				@include media(xs) {
					display: none;
				}
			}
			&_mob {
				display: none;
				@include media(xs) {
					display: block;
				}
			}
		}
	}
}
.home-quest {
	&__header {
		margin-bottom: 40px;
		@include media(sm) {
			margin-bottom: 53px;
		}
		@include media(xs) {
			margin-bottom: 30px;
		}
	}
	&__slider {
		display: flex;
		justify-content: space-between;
		//.slick-slide {
		//	height: auto;
		//}
		.slick-arrow {
			background-color: $bg1;
			width: 40px;
			height: 40px;
			@include media(xs) {
				width: 56px;
				height: 56px;
			}
		}
		.slick-prev, .slick-next {
			z-index: 1;
			@include media(sm) {
				top: auto;
				bottom: 0;
				left: 50%;
			}
			@include media(xs) {
				&:before {
					width: 15px;
					height: 25px;
				}
			}
		}
		.slick-prev {
			transform: translate(-50% - 133% - 50%, 0);
			@include media(xs) {
				left: 0;
				transform: translate(0, 0);
			}
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 2L2 13l11 10' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
				@include media(xs) {
					background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 2L2 13l11 10' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
				}
			}
		}
		.slick-next {
			transform: translate(-50% + 133% + 50%, 0);
			@include media(xs) {
				right: 0;
				left: auto;
				transform: translate(0, 0);
			}
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2l11 11L2 23' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
				@include media(xs) {
					background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2l11 11L2 23' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
				}
			}
		}
		.slick-dots {
			z-index: 0;
			@include media(sm) {
				bottom: 40px/2 - 9px/2;
			}
			@include media(xs) {
				bottom: 56px/2 - 9px/2;
			}
		}
	}
	&__slide {
		position: relative;
		width: 369px;
		padding-top: 34px;
		@include media(sm) {
			padding-top: 27px;
			padding-bottom: 86px;
			width: 100%;
		}
		@include media(xs) {
			padding-top: 34px;
			padding-bottom: 89px;
		}
	}
	&__slide-img {
		position: absolute;
		top: 0;
		left: 0;
		width: 114px;
		height: 114px;
		border-radius: 50%;
		box-sizing: border-box;
		border-width: 7px;
		border-style: solid;
		border-color: #ffffff;
		@include media(sm) {
			border-width: 10px;
			width: 171px;
			height: 171px;
			left: 17px;
		}
		@include media(xs) {
			border-width: 7px;
			width: 114px;
			height: 114px;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}
	&__slide-text {
		background-color: #5bc9f9;
		border-radius: 17px;
		padding: 19px 24px;
		height: 187px;
		@include media(sm) {
			padding: 19px 19px 19px 220px;
			height: 123px;
		}
		@include media(xs) {
			padding: 89px 18px 15px;
			height: 255px;
		}
	}
	&__slide-title {
		padding-left: 132px - 24px;
		margin-bottom: 27px;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 900;
		font-size: 23px;
		line-height: 103%;
		color: #ffffff;
		@include media(sm) {
			padding-left: 0;
			margin-bottom: 16px;
		}
		@include media(xs) {
			text-align: center;
		}
	}
	&__slide-subtitle {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 151%;
		color: #ffffff;
		@include media(xs) {
			text-align: center;
		}
	}
}
.home-about {
	display: flex;
	padding-top: 100px;
	padding-bottom: 100px;
	@include media(sm) {
		flex-wrap: wrap;
		padding-top: 80px;
		padding-bottom: 49px;
	}
	@include media(xs) {
		padding-top: 47px;
		padding-bottom: 36px;
	}
	&__text-content {
		margin-right: 42px;
		@include media(sm) {
			margin-bottom: 34px;
		}
		@include media(xs) {
			margin-right: 0;
			margin-bottom: 50px;
		}
	}
	&__title {
		margin-bottom: 23px;
		@include media(sm) {
			margin-bottom: 30px;
		}
	}
	&__article {
		margin-bottom: 23px;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 151%;
		color: $text_main;
	}
	&__btn {
		width: 156px;
	}
	&__img {
		height: 347px;
		min-width: 771px;
		background-position: right;
		background-repeat: no-repeat;
		background-size: cover;
		background-image: url("../content/home/about.jpg");
		border-radius: 21px;
		box-shadow: 0 22px 41px rgba(23, 112, 217, 0.24);
		@include media(sm) {
			height: 330px;
			min-width: 100%;
		}
		@include media(xs) {
			height: 279px;
			background-position: center;
			background-image: url("../content/home/about_mob.jpg");
		}
	}
}
