html,
body {
	overflow-x: hidden;
}

body {
	position: relative;
	min-width: 320px;
	font-family: "RotondaC", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.4;
	background: url("../img/right-pattern.svg") right top repeat-y scroll, url("../img/left-pattern.svg") left top repeat-y scroll, linear-gradient(179.35deg, #e9f7ff 1.42%, #8cdcff 8%) no-repeat;
	background-size: auto;
	min-height: 100vh;
	@include media(sm) {
		background: linear-gradient(179.35deg, #e9f7ff 1.42%, #8cdcff 8%) no-repeat;
	}
	@include media(xs) {
		background: linear-gradient(179.35deg, #e9f7ff 1.42%, #8cdcff 8%) no-repeat;
	}
	* {
		outline: none;
	}
}
main {
	min-height: calc(100vh - 162px - 321px); // Минус хедер и футер
}
section {
	position: relative;
}
button, a {
	outline: none;
	&:hover, &:focus {
		outline: none;
	}
}

// Кнопки
.btn {
	display: inline-block;
	block-size: fit-content;
	width: 170px;
	padding-top: 16px;
	padding-bottom: 16px;
	font-family: "RotondaC", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.02em;
	color: $text_main-light;
	border-radius: 21px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: none;
	}
	&_color_bright-1 {
		background-color: $btn_bg1;
		box-shadow: $btn_box-shadow1;
		&:hover {
			background-color: $btn_bg1-hover;
			color: $text_main-light;
		}
	}
	&_color_bright-2 {
		background-color: $btn_bg2;
		box-shadow: $btn_box-shadow2;
		&:hover {
			background-color: $btn_bg2-hover;
			color: $text_main-light;
		}
	}
	&_color_still {
		border-style: solid;
		border-width: 2px;
	}
	&_color_still-1 {
		background-color: $btn_bg3;
		border-color: $text_main-light;
		&:hover {
			border-color: rgba(255, 255, 255, 0.43);
			color: $text_main-light;
		}
	}
	&_color_still-2 {
		background-color: $btn_bg4;
		color: $text_second-3;
		border-color: $text_second-3;
		&:hover {
			border-color: #3090e2;
			color: #3090e2;
		}
	}
	@include media(xs) {
		display: block;
		width: 100%;
	}
}

// Стили слайдера
.slider {
	// Стрелки
	.slick-prev, .slick-next {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 56px;
		height: 56px;
		border-radius: 50%;
		&:before {
			content: "";
			display: block;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			width: 11px;
			height: 21px;
		}
	}
	.slick-prev {
		left: -97px;
		&:before {
			background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 2L2 13l11 10' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
		}
		&:hover {
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.2 2.2l10.6 10.6L2.2 23.4' stroke='%235BC9F9' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
				transform: rotate(180deg);
			}
		}
	}
	.slick-next {
		right: -97px;
		&:before {
			background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2l11 11L2 23' stroke='%233E427E' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
		}
		&:hover {
			&:before {
				background-image: url("data:image/svg+xml,%3Csvg width='15' height='25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.2 2.2l10.6 10.6L2.2 23.4' stroke='%235BC9F9' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E");
			}
		}
	}
	// Точки
	&_dark-dots {
		.slick-dots {
			li {
				button {
					&:before {
						background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.5' cy='4.5' r='4.5' fill='%23009FE3'/%3E%3C/svg%3E");
					}
				}
			}
		}
	}
	&_light-dots {
		.slick-dots {
			li {
				button {
					&:before {
						background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.5' cy='4.5' r='4.5' fill='%23fff'/%3E%3C/svg%3E");
					}
				}
			}
		}
	}
}
.slider, .custom-dots {
	// Точки
	&_dark-dots {
		.slick-dots {
			li {
				button {
					&:before {
						background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.5' cy='4.5' r='4.5' fill='%23009FE3'/%3E%3C/svg%3E");
					}
				}
			}
		}
	}
	&_light-dots {
		.slick-dots {
			li {
				button {
					&:before {
						background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4.5' cy='4.5' r='4.5' fill='%23fff'/%3E%3C/svg%3E");
					}
				}
			}
		}
	}
	.slick-dots {
		display: flex;
		justify-content: center;
		height: 9px;
		li {
			display: block;
			height: 9px;
			width: 9px;
			margin: 0 4px;
			font-size: 0;
			button {
				height: 9px;
				width: 9px;
				padding: 0;
				&:before {
					content: "";
					height: 9px;
					width: 9px;
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
			}
			&.slick-active, &.custom-slick-active {
				button {
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}
}

// Инпуты
.input {
	padding: 17px 23px 15px;
	font-family: "RotondaC", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	letter-spacing: 0.02em;
	background-color: #ffffff;
	box-sizing: border-box;
	border-radius: 21px;
	cursor: pointer;
}
.input-text {
	color: #60689e;
	border: 1px solid #e0f0ff;
}
.select {
	display: inline-block;
	padding-right: 48px;
	font-weight: 700;
	color: #3f4260;
	border: 2px solid rgba(89, 114, 209, 0.3);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='10' fill='none'%3E%3Cpath d='M1 1l8 8 8-8' stroke='%231770D9' stroke-width='2'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 18px center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	@include media(sm) {
		padding: 15px 45px 12px 23px;
	}
	&_light {
		border-color: $text_main-light;
		color: $text_main-light;
		background-color: transparent;
		background-image: url("data:image/svg+xml,%3Csvg width='18' height='10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l8.1 7.5L17.2 1' stroke='%23fff' stroke-width='2'/%3E%3C/svg%3E");
		option {
			background-color: $bg2;
		}
	}
}

// Заголовки
.h1 {
	font-family: "RoundsBlack", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 55px;
	line-height: 105%;
	letter-spacing: 0.02em;
	color: $text_main;
	padding: 0;
	margin-bottom: 0;
	@include media(xs) {
		font-size: 30px;
	}
}
.h2 {
	margin-bottom: 0;
	font-family: "RoundsBlack", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 105%;
	letter-spacing: 0.02em;
	text-transform: lowercase;
	color: $text_main-light;
	text-shadow: 0 6px 41px rgba(23, 112, 217, 0.24);
	@include media(xs) {
		font-size: 28px;
	}
	&_dark {
		color: $text_second-3;
		text-shadow: none;
	}
}
.h3 {
	font-family: "RoundsBlack", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 105%;
	letter-spacing: 0.02em;
	color: #01b0ef;
	margin-bottom: 0;
	@include media(xs) {
		font-size: 23px;
	}
}

// Прочие элементы
.link-nounderline {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
.stars {
	$p: &;
	display: block;
	margin-right: 12px;
	margin-bottom: 0;
	padding-left: 0;
	&__item {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 0l3.1 6.2 6.9 1-5 5 1.2 6.8-6.2-3.2L4.3 19l1.1-6.8-4.9-5 6.9-1L10.5 0z' fill='%23A6A6A6' fill-opacity='.3'/%3E%3C/svg%3E");
		margin-bottom: 0;
		&:not(:last-child) {
			margin-right: 4px;
		}
		&_yellow {
			background-image: url("data:image/svg+xml,%3Csvg width='19' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0l3 6 6 1-5 4 1 6-5-2-6 2 1-6-5-4 7-1 3-6z' fill='%23FFD600'/%3E%3C/svg%3E");
		}
		&_orange {
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 0l3.1 6.2 6.9 1-5 5 1.2 6.8-6.2-3.2L4.3 19l1.1-6.8-4.9-5 6.9-1L10.5 0z' fill='%23FF9736'/%3E%3C/svg%3E");
		}
		&_white {
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 0l3.14 6.18 6.85 1.08-4.9 4.9 1.08 6.83-6.17-3.15L4.33 19l1.09-6.84-4.9-4.9 6.84-1.07L10.5 0z' fill='%23fff'/%3E%3C/svg%3E");
		}
		&_green {
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 0l3.1 6.2 6.9 1-5 5 1.2 6.8-6.2-3.2L4.3 19l1.1-6.8-4.9-5 6.9-1L10.5 0z' fill='%232DC27C'/%3E%3C/svg%3E");
		}
		&_violet {
			background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.5 0l3.1 6.2 6.9 1-5 5 1.2 6.8-6.2-3.2L4.3 19l1.1-6.8-4.9-5 6.9-1L10.5 0z' fill='%23BA78ED'/%3E%3C/svg%3E");
		}
	}
}
.diapers-sizes {
	display: flex;
	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 65px;
		line-height: 210.19%;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		letter-spacing: 0.02em;
		color: #3f4260;
		opacity: 0.5;
		@include media(xs) {
			width: auto;
			margin-right: 2px;
		}
	}
	&__tile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 51px;
		height: 72px;
		background-color: rgba(23, 112, 217, 0.07);
		border-radius: 15px;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-size: 14px;
		letter-spacing: 0.02em;
		line-height: 197.69%;
		text-decoration: none;
		&:not(:last-child) {
			margin-right: 5px;
		}
		&:hover, &_active {
			text-decoration: none;
		}
		&_hover-effect:hover, &_active {
			background-color: #f9d3e4;
			border: 2px solid #e95498;
			box-sizing: border-box;
			box-shadow: -1px 10px 8px rgba(233, 84, 152, 0.15);
			text-decoration: none;
		}
		@include media(xs) {
			width: 100%;
			max-width: 51px;
			&:not(:last-child) {
				margin-right: 3px;
			}
		}
	}
	&__size {
		font-weight: 700;
		color: $text_second-2;
	}
	&__weight {
		font-weight: 400;
		color: $text_main;
	}
}
.content-block {
	position: relative;
	display: block;
	border-radius: 17px;
	background-color: $bg1;
	@include media(sm) {
		padding-right: 31px;
		padding-left: 31px;
	}
	@include media(xs) {
		padding-right: 18px;
		padding-left: 18px;
	}
	&_type_1 {
		padding-top: 65px;
		padding-bottom: 65px;
		@include media(sm) {
			padding-top: 82px;
			padding-bottom: 36px;
		}
		@include media(xs) {
			padding-top: 52px;
			padding-bottom: 24px;
		}
	}
	&_type_2 {
		@include media(sm) {
			padding-right: 31px;
			padding-left: 31px;
		}
		@include media(xs) {
			padding-right: 18px;
			padding-left: 18px;
		}
	}
	&_type_3 {
		background-color: #aae4ff;
		padding: 70px 57px 25px;
		@include media(sm) {
			padding: 70px 31px 25px;
		}
		@include media(xs) {
			padding: 70px 18px 33px;
		}
	}
	&_type_4 {
		padding-top: 80px;
		padding-bottom: 54px;
		@include media(xs) {
			padding-top: 52px;
			padding-bottom: 40px;
		}
	}

	&__corner-marker {
		position: absolute;
		top: 0;
		left: 0;
		padding: 15px 30px;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 101.5%;
		letter-spacing: 0.02em;
		color: $text_main-light;
		border-radius: 17px 0;
		text-align: center;
		@include media(sm) {
			width: 170px;
			height: 54px;
			font-size: 20px;
			line-height: 101.5%;
		}
		@include media(xs) {
			padding: 11px 18px;
			font-size: 18px;
			width: auto;
			height: 38px;
		}
		&_bg_1 {
			background-color: #ff9736;
		}
		&_bg_2 {
			background-color: #2dc37b;
		}
		&_bg_3 {
			background-color: #ba78ed;
			@include media(sm) {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0;
				& * {
					width: min-content;
					text-align: left;
				}
			}
			@include media(xs) {
				display: block;
				align-items: center;
				padding: 11px 18px;
				& * {
					width: auto;
				}
			}
		}
	}

	&__bg-img {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 415px;
		height: 351px;
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: contain;
		border-radius: 0 0 0 17px;
		@include media(sm) {
			display: none;
			width: 200px;
		}
		&_type_1 {
			height: 237px;
			@include media(sm) {
				display: block;
				height: 169px;
			}
			@include media(xs) {
				display: none;
			}
		}
		&_orange {
			background-image: url("data:image/svg+xml,%3Csvg width='392' height='315' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M392 351l-50.55-95.2A490.95 490.95 0 00-23 0v351h415z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='191.76' y1='0' x2='191.76' y2='380.82' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23F6791E' stop-opacity='.16'/%3E%3Cstop offset='1' stop-color='%23FF6B00' stop-opacity='.29'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		}
		&_green {
			background-image: url("data:image/svg+xml,%3Csvg width='391' height='350' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M391 351l-56.5-106.41A466 466 0 00-11.44 1.79L-24 0v351h415z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='326.85' y1='-43.62' x2='56.8' y2='299.83' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%230E8D50' stop-opacity='.2'/%3E%3Cstop offset='1' stop-color='%232DC37B' stop-opacity='.2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		}
		&_violet {
			background-image: url("data:image/svg+xml,%3Csvg width='388' height='351' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M388 351l-50.55-95.2A490.95 490.95 0 00-27 0v351h415z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='231.52' y1='-199.05' x2='193.05' y2='410.73' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%239246CD' stop-opacity='.2'/%3E%3Cstop offset='1' stop-color='%23BA78ED' stop-opacity='.2'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		}
	}
}
.slide-review {
	$p: &;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 397px;
	padding: 56px 21px 37px 41px;
	background-color: rgba(255, 255, 255, 0.28);
	border-radius: 14px;
	margin-right: 15px;
	margin-left: 15px;
	&_2rows {
		margin-bottom: 30px;
		@include media(sm) {
			margin-bottom: 20px;
		}
	}
	@include media(sm) {
		height: 381px;
		padding: 48px 33px 28px 17px;
	}
	&__title {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 22px;
		line-height: 21px;
		color: $text_main;
		margin-bottom: 11px;
	}
	&__subtitle {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 19px;
		line-height: 147.69%;
		letter-spacing: 0.02em;
		color: $text_second-2;
		margin-bottom: 17px;
		mark {
			background-color: transparent;
			color: $text_second-3;
		}
	}
	&__stars {
		display: flex;
		margin-bottom: 25px;
	}
	&__stars-set {
		margin-right: 12px;
	}
	&__stars-count {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: $text_main-light;
	}
	&__preview {
		margin-bottom: 6px;
		max-height: 140px;
		overflow: hidden;
		p {
			font-family: "RotondaC", sans-serif;
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 148%;
			letter-spacing: 0.02em;
			color: $text_main;
			margin: 0;
			padding-bottom: 29px;
		}
		@include media(sm) {
			margin-bottom: 11px;
			max-height: 112px;
			p {
				font-size: 16px;
				line-height: 148%;
			}
		}
	}
	&__preview-close {
		display: none;
		position: absolute;
		top: 14px;
		right: 16px;
		width: 15px;
		height: 15px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 1L1.5 14.5M1 1l13.5 13.5' stroke='%231770D9' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
		cursor: pointer;
	}
	&__read-more {
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 26px;
		letter-spacing: 0.02em;
		text-decoration-line: underline;
		color: $text_main-light;
		cursor: pointer;
		@include media(sm) {
			font-size: 15px;
			line-height: 144.9%;
		}
	}
	&__shadow {
		display: none;
		position: absolute;
		top: auto;
		right: 0;
		left: 0;
		bottom: 0;
		height: 40px;
		background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), #fff 100%);
		border-radius: (0 0 14px 14px);
	}
	&__quotes {
		position: absolute;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
	&__quotes_start {
		top: 0;
		left: 15px;
		width: 95px;
		height: 35px;
		background-image: url("data:image/svg+xml,%3Csvg width='93' height='34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.42-13.47a4 4 0 000 4.06l22.05 37.38A4 4 0 0145.02 34H33.33a4 4 0 01-3.27-1.7L.62-9.53a3.42 3.42 0 010-3.94L30.06-55.3a4 4 0 013.27-1.7h11.7a4 4 0 013.45 6.03l-22.06 37.5zm42.98 0a4 4 0 000 4.06l22.04 37.38A4 4 0 0188 34H76.3a4 4 0 01-3.27-1.7L43.6-9.53a3.42 3.42 0 010-3.94L73.04-55.3a4 4 0 013.27-1.7h11.7a4 4 0 013.45 6.03L69.4-13.47z' fill='%23fff' fill-opacity='.4'/%3E%3C/svg%3E");
		@include media(sm) {
			left: 12px;
			width: 70px;
			height: 28px;
		}
		@include media(xs) {
			left: 12px;
			width: 73px;
			height: 28px;
		}
	}
	&__quotes_end {
		bottom: 0;
		right: 14px;
		width: 100px;
		height: 53px;
		background-image: url("data:image/svg+xml,%3Csvg width='106' height='53' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M74.06 49.09a6.82 6.82 0 010 6.95L51.08 94.7a6.82 6.82 0 005.86 10.3h8.64a6.82 6.82 0 005.56-2.87l33.58-47.36a3.92 3.92 0 000-4.54L71.15 2.87A6.82 6.82 0 0065.59 0h-8.65a6.82 6.82 0 00-5.87 10.3l22.99 38.79zm-49.97 0a6.82 6.82 0 010 6.95L1.11 94.7A6.82 6.82 0 006.98 105h8.64a6.82 6.82 0 005.56-2.87l33.58-47.36a3.92 3.92 0 000-4.54L21.18 2.87A6.82 6.82 0 0015.62 0H6.97A6.82 6.82 0 001.1 10.3l22.99 38.79z' fill='%23fff' fill-opacity='.24'/%3E%3C/svg%3E");
		@include media(sm) {
			right: 84px;
			width: 82px;
			height: 44px;
		}
		@include media(sm) {
			right: 11px;
			width: 85px;
			height: 44px;
		}
	}
	&__checkbox {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
	&__checkbox:checked {
		& ~ #{$p}__content {
			#{$p}__preview {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				max-height: none;
				background-color: $bg1;
				border-radius: 14px;
				margin-bottom: 0;
				padding-top: 29px;
				p {
					padding: 0 22px 30px;
					height: 100%;
					overflow: auto;
					// Скроллбар для Firefox
					scrollbar-width: thin;
					scrollbar-color: #39acff #ffffff;
					// Скроллбар для остальных браузеров
					&::-webkit-scrollbar {
						width: 6px;
						background-color: #ffffff;
					}
					&::-webkit-scrollbar-thumb {
						border-radius: 19px;
						background: #39acff;
					}
				}
			}
			#{$p}__preview-close {
				display: block;
			}
		}
		& ~ #{$p}__shadow {
			display: block;
		}
	}
}
.modal-fill {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(68, 87, 116, 0.58);
	z-index: 999;
}
.subscribe-popap {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 570px;
	padding: 26px 33px 32px;
	background: #ffffff;
	box-shadow: 0 22px 41px rgba(23, 112, 217, 0.24);
	border-radius: 17px;
	@include media(xs) {
		width: 90%;
	}
	&__header {
		margin-bottom: 18px;
	}
	&__text {
		margin-bottom: 21px;
		font-family: "RotondaC", sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 147.69%;
		letter-spacing: 0.02em;
		color: $text_main;
	}
	&__close {
		position: absolute;
		top: 19px;
		right: 23px;
		width: 26px;
		height: 26px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.5 1L1 27.5M1.5 1.5L28 28' stroke='%231770D9' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
		cursor: pointer;
	}
}
.err {
	margin-bottom: 10px;
	color: #d22172;
}
.br-tab {
	display: none;
	@include media(sm) {
		display: block;
	}
	@include media(xs) {
		display: none;
	}
}
.disabled {
	cursor: default;
}
